@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    font-family: "Roboto";
}

.border-customized-ot {
    border-radius: 10px 0 0 10px;
    border: 2px solid black;
    border-right: 0px solid white;
}
.border-customized-tt {
    border-radius: 0 10px 10px 0;
    border: 2px solid black;
}

.goog-te-gadget-simple {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    padding: 8px !important;
    border-radius: 4px !important;
    font-size: 1rem !important;
    line-height: 2rem !important;
    display: inline-block;
    cursor: pointer;
    zoom: 1;
}

div#google_translate_element div.goog-te-gadget-simple {
    border: none;

    background-color: #17548d;
}

div#google_translate_element
    div.goog-te-gadget-simple
    a.goog-te-menu-value:hover {
    text-decoration: none;
}

div#google_translate_element
    div.goog-te-gadget-simple
    a.goog-te-menu-value
    span {
    color: #aaa;
}

div#google_translate_element
    div.goog-te-gadget-simple
    a.goog-te-menu-value
    span:hover {
    color: white;
}

.goog-te-gadget-icon {
}

/* Remove the down arrow */
/* when dropdown open */
div#google_translate_element
    div.goog-te-gadget-simple
    a.goog-te-menu-value
    span[style="color: rgb(213, 213, 213);"] {
    display: none;
}
/* after clicked/touched */
div#google_translate_element
    div.goog-te-gadget-simple
    a.goog-te-menu-value
    span[style="color: rgb(118, 118, 118);"] {
    display: none;
}
/* on page load (not yet touched or clicked) */
div#google_translate_element
    div.goog-te-gadget-simple
    a.goog-te-menu-value
    span[style="color: rgb(155, 155, 155);"] {
    display: none;
}

/* Remove span with left border line | (next to the arrow) in Chrome & Firefox */
div#google_translate_element
    div.goog-te-gadget-simple
    a.goog-te-menu-value
    span[style="border-left: 1px solid rgb(187, 187, 187);"] {
    display: none;
}
/* Remove span with left border line | (next to the arrow) in Edge & IE11 */
div#google_translate_element
    div.goog-te-gadget-simple
    a.goog-te-menu-value
    span[style="border-left-color: rgb(187, 187, 187); border-left-width: 1px; border-left-style: solid;"] {
    display: none;
}
/* HIDE the google translate toolbar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

@tailwind utilities;

.item {
    @apply border-b border-transparent hover:border-orange-500 hover:text-orange-500 transition-all;
}
